/* BG COLORS */
$bg-color-1: #8D6E63;
$bg-color-2: #ffffff;
/* end BG COLORS */


/* TEXT COLORS */
$text-color-1: #5f6368;
$text-color-2: #3c4043;
$text-color-3: #ffffff;
$text-color-4: #3367d6;
/* end TEXT COLORS */


/* BORDER COLORS */
$border-color-1: #3367d6;
$border-color-2: grey;
/* end BORDER COLORS */


/* FONTS */
$font-1: 'Google Sans', sans-serif;
/* end FONTS */
